In [1]:
# Addition -> +

In [2]:
10 + 10

20

In [3]:
10 + 5.5

15.5

In [4]:
10 + (5 + 0j)

(15+0j)

In [5]:
10 + True

11

In [7]:
# True + True + False - True - True + True - False

1

In [8]:
5.5 + 0.5

6.0

In [10]:
(5 + 2j) + (4.5 + 4.3J)

(9.5+6.3j)

In [11]:
#  -

In [12]:
x = 10

In [13]:
x

10

In [14]:
print(x)

10

In [15]:
True - True

0

In [16]:
5 - 5

0

In [20]:
5.3 - 4.0

1.2999999999999998

In [19]:
1.5 - 1

0.5

In [21]:
# *

In [22]:
10 * 10

100

In [23]:
10 * 0.5

5.0

In [25]:
10 * (3 + 5j)

(30+50j)

In [26]:
10 * True

10

In [27]:
10 * False

0

In [28]:
# True Div - / -> float val
# int Div - //  -> int value

In [29]:
54 // 10   # -> 5

5

In [30]:
54 / 10

5.4

In [31]:
100 // 5

20

In [32]:
100 / 5

20.0

In [34]:
10 // 5

2

In [35]:
n = 154
res = 0

while n > 0:
    res = 10 * res + n % 10
    n = n // 10

print(res)  # 451

451

In [36]:
# %

In [37]:
10 // 5

2

In [38]:
# 10 // 4

2

In [39]:
# 10 % 4

2

In [40]:
# 10.5 % 5

0.5

In [ ]:
2, 4, 6, 8, 
1, 3, 5, 7

# 10 % 2 = 0
# 11 % 2 = 1

In [41]:
# **

In [42]:
x = 10
y = 5

In [43]:
x ** y # 10 8 10 * 10 * 10 * 10

100000

In [44]:
# Assingemt op.

SyntaxError: invalid syntax (1779479325.py, line 1)

In [45]:


# x = 10
# Variable = Value

In [46]:
10 + 10

20

In [47]:
10 + 5j

(10+5j)

In [51]:
x = 10

In [52]:
x = x + 10
x += 1
x -= 1 x = x -1
x *= 1 => x * 1
x /= 1 => x = x / 1
x //= 1 => x = x // 1
x %= 1 => x = x % 1
print(x)

20

In [53]:
10 > 5

True

In [57]:
# lef == right
10 == 10.0 + 1j

False

In [59]:
# !=
10 != 10

False

In [64]:
# > and <
10 > 5
0 > 5
10 < 5
10 < 10

False

In [65]:
a = [1, 2, 3, 4, 5, 6]
type(a)

list

In [69]:
print(a[::-1])

[6, 5, 4, 3, 2, 1]

In [1]:
type(10)

int

In [2]:
type(10.5)

float

In [3]:
"1" + '0'

'10'

In [4]:
"True"

'True'

In [5]:
str()

''

In [6]:
"MSys"

'MSys'

In [7]:
s = "MSys"

In [8]:
id(s)

1993379101232

In [9]:
id(s[0])

1993326786992

In [10]:
id(s[1])

1993322590512

In [11]:
a = "hello"

In [12]:
a[0]

'h'

In [13]:
a[-5]

'h'

In [14]:
a[-1]

'o'

In [15]:
a[4]

'o'

In [16]:
a = '1234'

In [18]:
a[1] = 9

TypeError: 'str' object does not support item assignment

In [19]:
id(a)

1993379186288

In [20]:
a = a + "5"

In [21]:
a

'12345'

In [22]:
id(a)

1993379136624

In [24]:
len(str())

0

In [25]:
'1' + '2' + '3'

'123'

In [26]:
a = [1, 2, 3, 4]

In [27]:
type(a)

list

In [28]:
list()

[]

In [29]:
arr = [1, 2, 3, 4, 5]

In [30]:
type(arr)

list

In [31]:
list()

[]

In [32]:
len(list())

0

In [33]:
arr

[1, 2, 3, 4, 5]

In [34]:
arr[2]

3

In [35]:
s = '12345'

In [36]:
s[2]

'3'

In [37]:
s[2] = '9'

TypeError: 'str' object does not support item assignment

In [38]:
arr

[1, 2, 3, 4, 5]

In [39]:
arr[3] = 9

In [40]:
arr

[1, 2, 3, 9, 5]

In [41]:
arr.append(10)

In [42]:
arr

[1, 2, 3, 9, 5, 10]

In [46]:
id(arr)

1993411288000

In [44]:
arr.append(12)

In [45]:
arr

[1, 2, 3, 9, 5, 10, 12]

In [47]:
id(arr)

1993411288000

In [48]:
var = [1, True, (2 + 5j), 5.5, "5", [1, 2, 3]]

In [49]:
var

[1, True, (2+5j), 5.5, '5', [1, 2, 3]]

In [50]:
var[4]

'5'

In [51]:
var[5]

[1, 2, 3]

In [52]:
var[5][1]

2

In [53]:
arr = [1, True, [1, 2, 3]]

In [54]:
arr

[1, True, [1, 2, 3]]

In [55]:
# => 3
arr[2][2]

3

In [56]:
a = 'abc'

In [92]:
a[1] = 'x'

TypeError: 'str' object does not support item assignment

In [59]:
x = [1, 2, 3]

In [61]:
x[1] = 0

In [62]:
x

[1, 0, 3]

In [63]:
a ="abc"

In [64]:
a[-1]

'c'

In [65]:
z = "I'am Prabhu"

In [66]:
z = 'I\'am Prabhu'

In [67]:
z

"I'am Prabhu"

In [70]:
z = "abc \\cvs"

In [71]:
z

'abc \\cvs'

In [76]:
print("This is a \n pen")

This is a
 pen

In [79]:
print("a \t b")

a 	 b

In [80]:
x = (1, 2, 3, 1, 2, 3)
# x = [1, 2, 3, 1, 2, 3]
# x = "abcabc"

In [81]:
x

(1, 2, 3, 1, 2, 3)

In [109]:
print(1, 2, 3, 4, end = "***", sep="-->")

1-->2-->3-->4***

In [84]:
len("xyz")

3

In [85]:
len([1])

1

In [98]:
z = (1, 2, (10, 20), ["a", "b"])

In [99]:
z[-1]

['a', 'b']

In [102]:
z

(1, 2, (10, 20), ['a', 'b'])

In [104]:
z[-1][1] = "c"

In [105]:
z

(1, 2, (10, 20), ['a', 'c'])

In [1]:
x = {1, 2, 3}

In [2]:
type(x)

set

In [3]:
z = set()
z = []
z = ""
z = ()

set()

In [7]:
x = {1,5 , 4, 1, 5, 2, 2, 5, 5, 6, 7}

In [8]:
x

{1, 2, 4, 5, 6, 7}

In [9]:
x = "[1,2]"

In [10]:
x

'[1,2]'

In [11]:
type(x)

str

In [12]:
list(x)

['[', '1', ',', '2', ']']

In [13]:
x = [1, 2, 3, 4]

In [ ]:
from xml.dom.minidom import Element


List functions
---------------------
x.append(element) -> it will add one element at the end of list
x.insert(index no, element)  -> It will insert an element at perticular index
x.pop() -> remove and return last Element
x.remove(element) -> remove the first occurance  of a lement
x.extend([]/ ""/ ()) -> extend all element ot current list
x.index() -> if present return the first occurance index val
x.sort() -> it sort all elements accending manner
x.reverse() -> it will reverse the elements in list

In [43]:
x = [1, 2, 3, 1]
y = [10, 20, 30]

In [48]:
x.index(4)

ValueError: 4 is not in list

In [45]:
print(x)

[1, 2, 3, 1, 10, 20, 30]

In [35]:
x

[1, 2]

In [49]:
x = [1, 8, 5, 9, 0, 3, 20, 10]

In [50]:
x

[1, 8, 5, 9, 0, 3, 20, 10]

In [57]:
x.sort(reverse=True)

In [58]:
x

[20, 10, 9, 8, 5, 3, 1, 0]

In [53]:
x.reverse()

In [54]:
x

[20, 10, 9, 8, 5, 3, 1, 0]

In [60]:
s = {1, 2, 3}

In [ ]:
Set Functions
----------------
add()
pop()
remove()

In [89]:
s = {1, 2, 3}
t = {1}

In [92]:
s.issuperset(t)

True

In [78]:
s.remove(2)

In [79]:
s

{1}

In [66]:
s.pop()

1

In [67]:
s

{2, 3, 5}

In [68]:
s.pop()

2

In [70]:
s.pop()

3

In [72]:
s.pop()

5

In [73]:
s

set()

In [93]:
d = {1: True, 2 :False, 3: "a"}

In [94]:
d

{1: True, 2: False, 3: 'a'}

In [96]:
d[2] = {10:100, 20 : 200}

In [97]:
d

{1: True, 2: {10: 100, 20: 200}, 3: 'a'}

In [98]:
d[4] = [1, 2, 3]

In [99]:
d

{1: True, 2: {10: 100, 20: 200}, 3: 'a', 4: [1, 2, 3]}

In [101]:
d.pop(2)

{10: 100, 20: 200}

In [102]:
d

{1: True, 3: 'a', 4: [1, 2, 3]}

In [103]:
x = {(1, 2) : True}

In [104]:
x

{(1, 2): True}

In [105]:
x[(1, ["a", "b"])] = "new val"

TypeError: unhashable type: 'list'

In [107]:
x [({1: 3}, 5)]

TypeError: unhashable type: 'dict'

In [111]:
v = (1, )
print(v, type(v))

(1,) <class 'tuple'>

In [120]:
arr = [0, 9, 5, 7, 4, "1", {1, 2}, (0, 5)]

In [129]:
arr[3::2]

[7, '1', (0, 5)]

In [124]:
arr[0:8:3]

[0, 7, {1, 2}]

In [130]:
arr = [1, 2, 3, 4, 5]

In [135]:
arr[0:5:-1]

[]

In [136]:
x = [1, 2, 3, 4]

In [137]:
x[-1: -len(x)-1:-1]

[4, 3, 2, 1]

In [139]:
x[::-1]

[4, 3, 2, 1]

In [140]:
d = {1:True, 2: False, "a":10}

In [142]:
for key in d:
    print(key, d[key])

1 True
2 False
a 10

In [143]:
x = "Msys Tech"

In [158]:
x[-1:-5:-1]

'hceT'

In [256]:
a = 10
b = 20.5
c = 2 + 3j
d = False
e = "abcaaa"
f = "15"
g = "True"
h = "11.6"
i = "10+5k"
x = [1, 2, 3, 1]
y = (10, 20)
z = {5, 6, 7}
s = {"name" : "MSys", 1: 2, 5:True}

In [262]:
# To int
# complex(element)
res = set(s)
print((res), type(res))

{1, 5, 'name'} <class 'set'>

In [271]:
x = [{"a", 1}, ("b",2), ("c",3)]

In [272]:
x

[{1, 'a'}, ('b', 2), ('c', 3)]

In [273]:
dict(x)

{'a': 1, 'b': 2, 'c': 3}

In [276]:
y = [(1, 2)]
[]
()

{}

In [277]:
dict(y)

{1: 2}

In [280]:
dict([{1, 2}, [3, 4], (1, 2)])

{1: 2, 3: 4}

In [285]:
{(1, [5, 10]): 1, "abc":2}

TypeError: unhashable type: 'list'

In [286]:
x = (1, 2, ["a", "b"])

In [288]:
x[2]

['a', 'b']

In [289]:
for i in x:
    print(i, id(i))

1 1351334559984
2 1351334560016
['a', 'b'] 1351426276224

In [294]:
for i in x:
    print(i, id(i))

1 1351334559984
2 1351334560016
['a', 'b', 'c'] 1351426276224

In [292]:
x[2]

['a', 'b', 'c']

In [293]:
x

(1, 2, ['a', 'b', 'c'])

In [309]:
x = "010101010"

In [310]:
z = set(x)

In [311]:
''.join(list(z))

'10'

In [318]:
a = "abc" 
b = "xyz"

print(id(a), id(b))

res = a + b
print(res, id(res))

1351335844400 1351425205744
abcxyz 1351425501488

In [319]:
a = [1, 2, 3]
b = [4, 5, 6]

print(id(a), id(b))

res = a + b
print(res, id(res))

1351426090176 1351426931648
[1, 2, 3, 4, 5, 6] 1351426922048

In [324]:
a = "abc"
b =[4, 5, 6]

print(id(a), id(b))

res = a + b
print(res, id(res))

1351335844400 1351426760576

TypeError: can only concatenate str (not "list") to str

In [321]:
a = {1, 2, 3}
b = {4, 5, 6}

print(id(a), id(b))

res = a + b
print(res, id(res))

1351425586368 1351425583904

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [322]:
a = {1: 2}
b = {4: 5}

print(id(a), id(b))

res = a + b
print(res, id(res))

1351425834816 1351425951552

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [330]:
True - False + True + True - False

3

In [345]:
print({1 : 3} * 10)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [352]:
10 // 3

3

In [353]:
10 % 3

1

In [359]:
2 ** 8

256

-> when val1 will low, res will be val1
-> when val1 is high res will be val2

In [385]:
a  = 10
# a = ""

0 and a
0.0 and a
False and a
0j and a
"" and a
[] and a
() and a
set() and a
{} and a


a and 0
a and 100

a and ""
a and "abc"

'abc'

In [ ]:
# low values 
# -----------
0, 0.0, 0j, False, "", [], (), set(), {}

In [ ]:

        ->  when ip1 is low, res is ip2
        ->  when the ip1 is high res is ip1

In [393]:
a  = 10
# a = ""

0 or 10
0.0 or True
# False and a
0j or 0
# "" and a
# [] and a
# () and a
set() or []
# {} and a


10 or 0
10 or 100

a and ""
# a and "abc"

''

In [376]:
if [] and a:
    print("falsy")
else:
    print("truthy")

truthy

In [378]:
10 and 20

20

In [396]:
not []

True

In [1]:
not [1, 2, 3]

False

In [4]:
10 and 20
" " and ""
[] and 5

[]

In [9]:
10 or 20
"" or []
0 or 5j
5j or 10j

5j

In [10]:
not 10

False

In [11]:
not ""

True

In [12]:
not 100

False

0 - 9 ---> 48 - 57
A - Z ---> 65 - 90
a - z ---> 97 - 122

In [26]:
ord('9')

57

In [21]:
'a' == 'b'
10 == 10

False

In [32]:
ord("0")

48

In [34]:
ord(val)
chr(ascii val)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [36]:
chr(65)

'A'

In [40]:
10 != 10

False

In [41]:
"abc" != "abc"

False

In [42]:
"abc" != "a"

True

In [45]:
False < 10

True

In [52]:
"abdc" < "abd"

False

In [49]:
99 < 100

True

In [53]:
4 <= 3

False

In [61]:
0J  5 + 0j

TypeError: '<=' not supported between instances of 'complex' and 'complex'

In [66]:
"bd" > "abc"

True

In [63]:
1 > 2

False

In [68]:
[5, 6, 7] > [2, 3]

True

In [73]:
10 >= 5
5 <= 10
5 >= 10
10 <= 5
10 >= 10

True

In [76]:
[6, 7, 8] < [6, 7, 1]

False

In [78]:
["6"] <= ["z"]

True

In [80]:
"A" <= "M" <= "Z"

True

In [81]:
10 < 15 < 20

True

In [85]:
val = "a"

print("Numeric", "0" <= "z" <= "9")  # 48 <= 122 < 57
# print("Uppercase", "A" <= val <= "Z")
# print("Lowercase", "a" <= val <= "z")

Numeric False

In [87]:
10 == 10 == 20

False

In [88]:
(10 == 10) == 20

False

In [90]:
val = 11

print('odd', val % 2 != 0)
print('even', val % 2 == 0)

odd True
even False

In [91]:
"abc" >= "ab"

True

In [99]:
a = 10

a += 10  # a = 20 
a -= 5  # a = 15
a *= 5  # a = 75

a /= 2 # a / 2 = 75 / 2 = 37.5
# a //= 2 # a // 2 = 37.5 // 2 = 18
a %= 2 # a % 2 = 37.5  % 2 = 1.5

a **= 2 # 1.5 ** 1.5


a

2.25

In [111]:
def solution(arr):
    seasons = ["Winter", "Spring", "Summer", "Autumn"]
    temp = []
    n = len(arr)//4
    for i in range(0, len(arr), n):
        mx = max(arr[i:i+n])
        mn = min(arr[i:i+n])
        temp.append(abs(mn-mx))

    return seasons[temp.index(max(temp))]

In [113]:
arr = [-3, -14, -5, 7, 8, 42, 8, 3]
arr = [2, -3, 3, 1, 10, 8, 2, 5, 13, -5, 3, -18]

print(solution(arr))

Autumn

In [141]:
x = 10
y = 4
print(bin(x), bin(y), sep='\n')
res = x ^ y
print(bin(res), res)

0b1010
0b100
0b1110 14

In [134]:
id(None)

140706163726328

In [135]:
id(None)

140706163726328

In [140]:
50 ^ 60

14

In [151]:
5 << 5

160

In [157]:
1 << 5

32

In [177]:
val1 = 25
val2 = 32

In [178]:
print(bin(val1)[2:], bin(val2)[2:], sep='\n')

11001
100000

In [180]:
# 111001
val1 | val2

57

In [ ]:
0 => 0000
1 => 0001
2 => 0010
3 => 0011
4 => 0100
5 => 0101
6 => 0110
7 => 0111
8 => 1000
9 => 1001
10 => 1010
11 => 1011
12 => 1100
13 => 1101
14 => 1110
15 => 1111

In [181]:
a = 10
b = 4

x = 5
y = 7

In [183]:
a | b

14

In [185]:
x | y

7

In [193]:
print(bin(25)[2:])

11001

In [195]:
# 11010
~25

-26

In [203]:
10 & 1 == 0

True

In [204]:
10 % 2 == 0

True

In [205]:
val = -15

In [206]:
bin(val)

'-0b1111'

In [207]:
# 1110
~val

14

In [211]:
x, y = 26, 14

In [212]:
print(bin(x)[2:])
print(bin(y)[2:])

11010
1110

In [213]:
# 10100
x ^ y

20

In [ ]:
1000 >> 2

# 10101 >> 1 ---> 01010
# 10101 >> 2 ---> 00101
# 10101 >> 3 ---> 00010
# 10101 >> 4 ---> 00001
10101 >> 4 ---> 00000

In [222]:
100 >> 3

12

In [221]:
100 // 2 ** 3

12

In [229]:
# 10101 = 21
# 11010 = 
val = -21
val >> 1

-11

In [240]:
val = 15
n = 3
bin(val)[2:]

'1111'

In [247]:
# 0001
val >> n

1

In [246]:
val // (2 ** n)

1

In [1]:
a = 10
b = 10
c = b

In [3]:
a = 10
b = 10
c = b
print(id(a), id(b), id(c), sep='\n')

2607639822864
2607639822864
2607639822864

In [17]:
import ctypes
import sys


print(sys.getrefcount(0))
print(ctypes.c_long.from_address(id(0)).value)

5629
5628

In [25]:
True + 5.3j

(1+5.3j)

In [26]:
True + 1 + 5 + False + 1 - True

7

In [45]:
10 + 6j
10 + 6J

(10+6j)

In [46]:
float()
complex()

0j

In [47]:
if complex():
    print("abc")

In [48]:
if 10:
    print("abc")

abc

In [49]:
arr = [10, 20, 30]

if arr:
    print(arr)
else:
    print("array is empy")

[10, 20, 30]

In [51]:
print('''Hi, 
good evng. 

i\'m attached the required document.

Regards, 
Kajal''')

Hi,
good evng.

i'm attached the required document.

Regards,
Kajal

In [52]:
a: str = 10

In [61]:
def sol(var: int) -> list:
    return [var]

In [62]:
sol(10)

[10]

In [64]:
s = "Python"

In [70]:
print(id(s))
y = "Python"
id(y)

2607641150896

2607641150896

In [111]:
s = ""
i = 0

while 10 > i:
    print(i)
    i = i + 5

0
5

Descitional statement
    1) Conditional
        if
        if ... else...
        if ... elif .... else

    2) Looping
        for 
        while

        while :
            Syntax : initalizer
                     
                     while condition:
                        statement 1
                        statement 2
                        ..
                        statement n
                        increament / decrement

        for :

            Syntax : for var in collection:
                        statement

In [116]:
"" and 10
10 and 5
"" and 0
0 and 5
5 and 0

0

In [118]:
5 or 5
5 or 10
5 or ""
"" or 0

0

In [124]:
(1,)

(1,)

In [126]:
x = 5
y = 8
print(bin(x)[2:], bin(y)[2:], sep='\n')

101
1000

In [130]:
# 1101
print(x & y)
print(x | y)
print(~x)
print(x ^ y)

0
13
-6
13

In [132]:
x = 25
bin(25)[2:]

'11001'

In [136]:
x << 2

100

In [135]:
x * (2 ** 2)

100

In [169]:
a = "Msys1"
b = [4, 5, 6, [1, 2]]
c = (1, 2, 3)
d = {'a', 'b', 'c'}
e = {1 : 'Msys', 2 : False, 3 : 'a'}

In [180]:
1 not in e

False

In [174]:
b[3]

[1, 2]

In [189]:
x = 10.0
y = 20.0
z = x
print(id(x), id(y), id(z), sep='\n')

2607732560752
2607732561680
2607732560752

In [216]:
a = {1: True}
b = {1: True}
c = b
print(id(a), id(b), id(c), sep='\n')

2607698015744
2607698007680
2607698007680

In [219]:
c is not b

False

In [222]:
x = None

In [224]:
y = 10

In [227]:
type(None)

NoneType

In [228]:
if 10 == 10.0:
    print('tsb')

tsb

In [230]:
# wap to check wheater a is even or odd
# no is even
# no is odd
n = 11 # in RAM

if n % 2 == 0:  # in cpu
    print("no is even") # in cpu

if n % 2 != 0: # 10 % 2 = 1 != 0  # in cpu
    print("no is odd") # in cpu

no is odd

In [232]:
# wap to check wheater a is even or odd
# no is even
# no is odd
n = 11 # in RAM

if n % 2 == 0:  # in cpu
    print("no is even") # in cpu

if n % 2 != 0: # 10 % 2 = 1 != 0  # in cpu
    print("no is odd") # in cpu

# we two nums, n and m, check relation of bboth
# n == m, m  is equl to n
# n > m, n > m
# n < m 

n = 6
m = 6

if n == m:
    print("n and m are qual")

if n > m:
    print("n is grater than m")# wap to check if a number lies between 20 and 30
# between 20 and 30, both 20 and 30 are included 
# range 20 to 30, 20 is included, 30 is not

n = 40

# if n >= 20 and n <= 30:
#     print(True)

if 20 <= n <= 30:
    print(True)

if not 20 <= n <= 30:
    print(False)

# wap to check if a char is uppercase of lowercase
# A -> Z => 65 -> 90
# a -> z => 97 -> 122

c = 'h'

if 65 <= ord(c) <= 90:
    print(c, "is upperase")

if 97 <= ord(c) <= 122:
    print(c, "is lowecase")

if "A" <= c <= "Z":
    print(c, "is upperase")

if 'a' <= c <= 'z':
    print(c, "is lowecase")

# wap to check if a cahe is vowel or not

# aeiouAEIOU
vowels = "aeiouAEIOU"
v = 'J'

if v in vowels:
    print(v, "is vowel")

if v not in vowels:
    print(v, 'is not vowel')

# wap to check if a char is uppercase of lowercase
# A -> Z => 65 -> 90
# a -> z => 97 -> 122

c = 'h'

if 65 <= ord(c) <= 90:
    print(c, "is upperase")

if 97 <= ord(c) <= 122:
    print(c, "is lowecase")

if "A" <= c <= "Z":
    print(c, "is upperase")

if 'a' <= c <= 'z':
    print(c, "is lowecase")

# wap to check if a cahe is vowel or not

# aeiouAEIOU
vowels = "aeiouAEIOU"
v = 'J'

if v in vowels:
    print(v, "is vowel")

if v not in vowels:
    print(v, 'is not vowel')

if n < m:
    print("n is less than m")

# wap to check if a number lies between 20 and 30
# between 20 and 30, both 20 and 30 are included 
# range 20 to 30, 20 is included, 30 is not

n = 40

# if n >= 20 and n <= 30:
#     print(True)

if 20 <= n <= 30:
    print(True)

if not 20 <= n <= 30:
    print(False)

# wap to check if a char is uppercase of lowercase
# A -> Z => 65 -> 90
# a -> z => 97 -> 122

c = 'h'

if 65 <= ord(c) <= 90:
    print(c, "is upperase")

if 97 <= ord(c) <= 122:
    print(c, "is lowecase")

if "A" <= c <= "Z":
    print(c, "is upperase")

if 'a' <= c <= 'z':
    print(c, "is lowecase")

# wap to check if a cahe is vowel or not

# aeiouAEIOU
vowels = "aeiouAEIOU"
v = 'J'

if v in vowels:
    print(v, "is vowel")

if v not in vowels:
    print(v, 'is not vowel')

# wap to check if a char is uppercase of lowercase
# A -> Z => 65 -> 90
# a -> z => 97 -> 122

c = 'h'

if 65 <= ord(c) <= 90:
    print(c, "is upperase")

if 97 <= ord(c) <= 122:
    print(c, "is lowecase")

if "A" <= c <= "Z":
    print(c, "is upperase")

if 'a' <= c <= 'z':
    print(c, "is lowecase")

# wap to check if a cahe is vowel or not

# aeiouAEIOU
vowels = "aeiouAEIOU"
v = 'J'

if v in vowels:
    print(v, "is vowel")

if v not in vowels:
    print(v, 'is not vowel')

n and m are qual

In [241]:
# wap to check if a number lies between 20 and 30
# between 20 and 30, both 20 and 30 are included 
# range 20 to 30, 20 is included, 30 is not

n = 40

# if n >= 20 and n <= 30:
#     print(True)

if 20 <= n <= 30:
    print(True)

if not 20 <= n <= 30:
    print(False)

# wap to check if a char is uppercase of lowercase
# A -> Z => 65 -> 90
# a -> z => 97 -> 122

c = 'h'

if 65 <= ord(c) <= 90:
    print(c, "is upperase")

if 97 <= ord(c) <= 122:
    print(c, "is lowecase")

if "A" <= c <= "Z":
    print(c, "is upperase")

if 'a' <= c <= 'z':
    print(c, "is lowecase")

# wap to check if a cahe is vowel or not

# aeiouAEIOU
vowels = "aeiouAEIOU"
v = 'J'

if v in vowels:
    print(v, "is vowel")

if v not in vowels:
    print(v, 'is not vowel')

# wap to check if a char is uppercase of lowercase
# A -> Z => 65 -> 90
# a -> z => 97 -> 122

c = 'h'

if 65 <= ord(c) <= 90:
    print(c, "is upperase")

if 97 <= ord(c) <= 122:
    print(c, "is lowecase")

if "A" <= c <= "Z":
    print(c, "is upperase")

if 'a' <= c <= 'z':
    print(c, "is lowecase")

# wap to check if a cahe is vowel or not

# aeiouAEIOU
vowels = "aeiouAEIOU"
v = 'J'

if v in vowels:
    print(v, "is vowel")

if v not in vowels:
    print(v, 'is not vowel')

False

In [250]:
# wap to check if a char is uppercase of lowercase
# A -> Z => 65 -> 90
# a -> z => 97 -> 122

c = 'h'

if 65 <= ord(c) <= 90:
    print(c, "is upperase")

if 97 <= ord(c) <= 122:
    print(c, "is lowecase")

if "A" <= c <= "Z":
    print(c, "is upperase")

if 'a' <= c <= 'z':
    print(c, "is lowecase")

# wap to check if a cahe is vowel or not

# aeiouAEIOU
vowels = "aeiouAEIOU"
v = 'J'

if v in vowels:
    print(v, "is vowel")

if v not in vowels:
    print(v, 'is not vowel')

h is lowecase

In [251]:
if "A" <= c <= "Z":
    print(c, "is upperase")

if 'a' <= c <= 'z':
    print(c, "is lowecase")

# wap to check if a cahe is vowel or not

# aeiouAEIOU
vowels = "aeiouAEIOU"
v = 'J'

if v in vowels:
    print(v, "is vowel")

if v not in vowels:
    print(v, 'is not vowel')

h is lowecase

In [259]:
# wap to check if a cahe is vowel or not

# aeiouAEIOU
vowels = "aeiouAEIOU"
v = 'J'

if v in vowels:
    print(v, "is vowel")

if v not in vowels:
    print(v, 'is not vowel')

J is not vowel

In [260]:
input('enter a number:')

'10'

In [264]:
# check if given no is +ve, -ve, 0

n = 15

if n > 0:  # 15 > 0
    print("+ve")

if n == 0: # 15 == 0
    print(0)

if n < 0:  # 15 < 0
    print('-ve')

+ve

In [269]:
# check if a char is vowel or not
c = 'i'

vowels = 'aeiouAEIOU'

if c in vowels:
    print('this is a vowel')

if c not in vowels:
    print('This is not a vowels')

this is a vowel

In [271]:
c = 'h'

vowels = 'aeiouAEIOU'

if c in vowels:
    print('Thus is vowel')
else:
    print('it is not a vowel')

it is not a vowel

In [273]:
n = 30

if n % 2 == 0:
    print('even')

if n % 2 != 0:
    print('odd')

even

In [274]:
n = 30

if n % 2 == 0:
    print('even')
else:
    print('odd')

even

In [275]:
# check if given no is +ve, -ve, 0
n = 15

if n > 0:  # 15 > 0
    print("+ve")

if n == 0: # 15 == 0
    print(0)

if n < 0:  # 15 < 0
    print('-ve')

+ve

In [278]:
n = -15

if n > 0:
    print('+ve')
elif n == 0:
    print(0)
elif n < 0:
    print('-ve')

-ve

In [282]:
#  wap to check if largest no amng 2 nos, if bot numbers are same print qual

n = 5
m = 5

if n > m:
    print(n)

elif m > n:
    print(m)

else:
    print("equal")

equal

In [283]:
days = {1: 'Mon', 2: "tue", 3: 'Wed', 4: 'thu', 5:"Fri", 6:'Sta', 7:"Sat"}

In [293]:
# take input from user
# print( the day name)

n = int(input('input a number'))

In [294]:
if n in days:
    print(days[n])
else:
    print('invalid input')

Sat

In [298]:
if 10 >= 0:
    print('Outer Tsb')
    if 'a' in 'abc':
        print("inner TSB")
    elif True:
        a = 10
    else:
        x = 20

Outer Tsb
inner TSB

In [302]:
a = 40
b = 20
c = 30

if a > b and a > c:
    print(a, 'is greatest')
elif b > a and b > c:
    print(b, 'is greatest')
elif c > a and c > b:
    print(c, 'is greatest')

40 is greatest

In [310]:
a = 10
b = 45
c = 18
d = 200

if a > b and a > c and a > d:
    print(a, 'is greatest')
elif b > a and b > c and b > d:
    print(b, 'is greatest')
elif c > a and c > b and c > d:
    print(c, 'is greatest')
elif d > a and d > b and d > c:
    print(d, 'is greatest')

200 is greatest

In [311]:
a = 10
b = 45
c = 18
d = 200
if a > b: # 10 > 45 -> False
    if a > c: # 
        if a > d: #
            print(a, 'is greatest')
        else:
            print(d, 'is greatest')
    else:
        if c > d:
            print(c, 'is greatest')
        else:
            print(d, 'is greatest')
else:
    if b > c: # 45 > 18 -> True
        if b > d: # 45 > 200 -> False
            print(b , 'is greatest')
        else:
            print(d, 'is greatest')
    else:
        if c > d:
            print(c, 'is greatest')
        else:
            print(d, 'is greatest')

200 is greatest

In [5]:
x = 5
y = 1
z = -8

if x < y:
    if x < z:
        print(x, 'is smallest')
    else:
        print(z, 'is smallest')
else:
    if y < z:
        print(y, 'is smallest')
    else:
        print(z, 'is smallest')

-8 is smallest